h3 {
	color: #204478;
	font-family: 'Gilda Display', serif;
	font-weight: 400;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 2.2em;
}

h5 {
	color: #226ad5;
	font-size: 1.5em;
	font-family: 'Gilda Display', serif;
	font-weight: 400;

}

h6 {
	color: #ffffff;
	font-size: 1.1em;
	margin-left: 5%;
	margin-right: 5%;
}

#firstModal {
	height: 40em;
	width: 70em;
}

#secondModal {
	height: 25em;
	width: 50em;
}

.top-bar, .navigate{
	
}

#side-photo{
	background-image: url(/img/durham.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 330px;
}

.button.round {
	font-size: 1.5em;
}

.round{
	background-color: #f3730c;
	font-size: 3em;
}

.round:hover {
	background-color: #226ad5;
}

.top-bar-section ul li > a{
	font-size: 15px;
}

.my-nav{
	z-index: 10000;
	background-color: #333333;
}
.row.full-width{
	width: 100%;
	max-width: 100%;
}
.top-bar-section {
	font-weight: bold;
}


.navigate {
	background-color: #333333;
	color: #ffffff;
	padding-top: 0em;
	padding-bottom: 0em;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 2em;
}

.availbutton {
	padding-right: 3em;
	margin-top: -1.5em;
}

.welcome{
    width:100%;
    height:50em;

}

.logo {
	padding-top: 3em;
	padding-bottom: 2em;
}

.smalllogo {
	width: 75%;
	margin-left: 10%;
	margin-right: 10%;
}

.biglogo {
	width: 75%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1em;
}


.mission {
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 1em;
	font-family: 'Gilda Display', serif;
	font-weight: 400;
	color: #204478;
	padding-bottom: 2em;
}

.highlight{
	margin-top: 3em;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2em;
}

.housepic {
	width: 100%;
}

.about{
	background-color: #204478;
	color: #ffffff;
	padding-top: 2.5em;
	padding-bottom: 3em;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.2em;
}

.abouttitle {
	color: #ffffff;
	font-family: 'Gilda Display', serif;
	font-weight: 400;
	font-size: 3em;
	text-align: center;
}

.mainbutton{
	background-color: #000000;
	font-size: 1.2em;
}

.mainbutton:hover {
	background-color: #226ad5;
}

.team {
	display:block;
}

.teamlist{
	margin-top: -2%;
	padding-left: 8%;
	padding-left: 8%;
	padding-top: 3em;
	padding-bottom: 2em;
}

.accentphoto{
	width: 100%;
	float: right;
	margin-top: -2.6%;
	margin-right: -2%;
	margin-bottom: 0%;
	margin-left: 0%;
}

.managementservices{
	background-color: #b0cffc;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: .5em;
}


.mgmttitle {
	color: #204478;
	font-family: 'Gilda Display', serif;
	font-weight: 400;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: -1%;
	font-size: 2.5em;
	text-align: center;
	padding-top: 2em;
}

.mgmtbackground{
	color: #204478;
	width: 100%;
	min-width: 100%;
	margin: 0 auto;
	font-size: 1.1em;
	padding-top: 1em;
}

.mgmtcontent{
	padding-top: 1.5em;
	font-size: 1.2em;
	padding-bottom: 2em;
	padding-left: 15%;
	padding-right: 15%;
}

.mgmtaccordion{
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 3em;
}

.accordtext {
	color: black;
}
.availrent{
	height:35em;
	background-color: #ffffff;
	color: #226ad5;
	font-family: 'Gilda Display', serif;
	font-weight: 400;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 1%;
	font-size: 1.6em;
	text-align: center;
	padding-top: 1em;
	margin-bottom: 0em;
}

.availrentsmall{
	height:7em;
	background-color: #ffffff;
	color: #226ad5;
	font-family: 'Lora', serif;
	font-weight: 700;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: -1%;
	font-size: 1.6em;
	text-align: center;
	padding-top: 1em;
	margin-bottom: 2em;
}
.availrenttitle {
	background-color: #ffffff;
	color: #226ad5;
	font-family: 'Gilda Display', serif;
	font-weight: 400;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: -1%;
	font-size: 1.6em;
	text-align: center;
	padding-top: 1em;
	margin-bottom: 1em;
}

.portal {
	width: 70%;
	margin-top: 1em;
	margin-bottom: 3em;
}

.ownertitle {
	font-family: 'Gilda Display', serif;
	font-weight: 400;
	font-size: 2em;
}

.ownertext{
	font-size: 1.2em;
}

.ownerbackground{
	color: #ffffff;
	background-color: #204478;
	width: 100%;
	min-width: 100%;
	margin: 0 auto;
	margin-bottom: 2em;
	padding-top: 1em;
	padding-left: 3em;
	padding-right: 3em;
}

.modal{
	height: 50em;
}
.map {
	width: 100%;
}

.contacttitle {
	background-color: #ffffff;
	color: #226ad5;
	font-family: 'Gilda Display', serif;
	font-weight: 400;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: .3em;
	font-size: 3em;
	text-align: center;
	padding-top: 1em;
	margin-bottom: 2em;
}

.center-button{
	padding-top: 8%;
	text-align: justify;
	margin: 0 auto;
}

.contact {
	padding-left: 5%;
	padding-right: 5%;
}

.addresstitle{
	font-size: 1.7em;
	font-family: 'Gilda Display', serif;
	font-weight: 400;
}

.address{
	font-size: 1.2em;
}

.fb  {
	width: 15%;
}

.inline {display: inline;}
.center-horiz{
	margin: 0 auto;
}


a {
	color: #204478
}

a:hover {
	color: #226ad5
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: #226ad5;
}

.accordtext span{
	float: right;
}

.accordion div{
	background: white;
}


